.section_padding {
  padding: 4rem 6rem;
}
.gpt_features_heading{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.gpt_features_heading h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  /* or 132% */

  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gpt_features_heading p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ff8a71;
  margin-top:1rem ;
}
.gpt_features_container{
    display: flex;
    flex-direction: column;

}
.gpt_features{
    width: 100%;
    display: flex;
}
@media screen and (max-width:900px) {
    .gpt_features{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
}
