.section_padding {
  padding: 4rem 6rem;
}
.gpt_blog {
  display: flex;
  flex-direction: column;
}
.gpt_blog_header {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}
.gpt_blog_header h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.gpt_blog_container {
  display: flex;
}
.gpt_blog_groupA {
  flex: 0.75;
  margin-right: 2rem;
}

.gpt_blog_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 990px) {
  .gpt_blog_container {
    flex-direction: column;
  }
  .gpt_blog_groupA {
    margin: 2rem 0;
  }

}
@media screen and (max-width: 700px) {
  .gpt_blog_groupB{
    grid-template-columns: repeat(1,1fr);
  }
  .gpt_blog_header h1{
    font-size: 46px;
    line-height: 52px;
  }
}
@media screen and (max-width: 550px) {
  .gpt_blog_header h1{
    font-size: 34px;
    line-height: 42px;
  }
}
