.gpt_header {
  display: flex;
}
.gpt_header_content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 5rem;
}

.gradient_text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 6.5rem;
}

.gpt_header_paragraph {
  margin-top: 2rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #81afdd;
}
.gpt_header_input {
  display: flex;
  margin-top: 2rem;
  width: 100%;
}
.gpt_header_input input {
  flex: 2;
  width: 100%;
  height: 73px;
  background: #052d56;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  border: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #3d6184;
  padding: 2rem;
}
.gpt_header_input button {
  flex: 0.9;
  width: 100%;
  height: 73px;
  background: #ff4820;
  border-radius: 0px 5px 5px 0px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
}
.gpt_header_people {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2.375rem;
}
.gpt_header_people p {
  /* width: 581.92px; */
  height: 37.61px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;

  color: #ffffff;
}
.gpt_header_people img {
  height: 36px;
  margin-right: 1rem;
}
.gpt_header_pic {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpt_header_pic img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1050px) {
  .gpt_header {
    flex-direction: column;
  }
  .gpt_header_content {
    margin: 0 5rem 3rem;
  }
  .gpt_header_content h1{
    margin: 0;
  }
  .gpt_header_pic{
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .gpt_header h1 {
    margin: 0;
    font-size: 48px;
    line-height: 60px;
  }
  .gpt_header p {
    font-size: 16px;
    line-height: 24px;
  }
  .gpt_header_people {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gpt_header_pic{
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .gpt_header_content {
    margin: 1rem 2rem;
  }
  .gpt_header h1 {
    margin: 0;
    font-size: 36px;
    line-height: 48px;
  }
  .gpt_header p {
    font-size: 14px;
    line-height: 24px;
  }
  .gpt_header_pic{
    width: 100%;
  }
}
